$color-light-blue: #EBEFF1;
$color-black: #000000;
$color-dark-grey: #6B6B6B;
$color-blue: #6887B9;
$color-green: #69B977;

$font-header: 'EB Garamond', serif;
$font-text: 'Source Sans Pro', sans-serif;

h1, h2, h3, h4, h5, h6 {
	font-family: $font-header;
}

* {
	box-sizing: border-box;
}

a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}

.container {
	width: 818px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 25px;

	&.container-big {
		width: 1400px;
		padding: 0;
	}
}

main {
	overflow: hidden;
}